<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Graph 

        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div>
<img src="../../../assets/graph.png">
</div>
<div>
    <img src="../../../assets/rutmin.png">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">linealizacion de las Tiendas

            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div>
    <img src="../../../assets/linealizacion.png">
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pedidos Por Meses

        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<a [routerLink]="['/pedido',1]" class="btn btn-primary" (click)="mostraspedido()">Enero</a>
<a [routerLink]="['/pedido',2]" class="btn btn-primary" (click)="mostraspedido()">Febrero</a>
<a [routerLink]="['/pedido',3]" class="btn btn-primary" (click)="mostraspedido()">Marzo</a>
<a [routerLink]="['/pedido',4]" class="btn btn-primary" (click)="mostraspedido()">Abril</a>
<a [routerLink]="['/pedido',5]" class="btn btn-primary" (click)="mostraspedido()">Mayo</a>
<a [routerLink]="['/pedido',6]" class="btn btn-primary" (click)="mostraspedido()">Junio</a>
<a [routerLink]="['/pedido',7]" class="btn btn-primary" (click)="mostraspedido()">Julio</a>
<a [routerLink]="['/pedido',8]" class="btn btn-primary" (click)="mostraspedido()">Agosto</a>
<a [routerLink]="['/pedido',9]" class="btn btn-primary" (click)="mostraspedido()">Septiembre</a>
<a [routerLink]="['/pedido',10]" class="btn btn-primary" (click)="mostraspedido()">Octubre</a>
<a [routerLink]="['/pedido',11]" class="btn btn-primary" (click)="mostraspedido()">Noviembre</a>
<a [routerLink]="['/pedido',12]" class="btn btn-primary" (click)="mostraspedido()">Diciembre</a>
<div>
    <img src="../../../assets/matix.png">
</div>
<a  class="btn btn-primary" (click)="mostrarArbolB()" >Ver Arbol B</a>
<div>
    <img src="../../../assets/arbolB.png">
</div>