<a  class="btn btn-primary" href="carrito-compras">Ir al Carrito</a>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let tienda of tiendas">
      <div class="card">
        <img src={{tienda.Imagen}} class="card-img-top" alt="..." width="10" height="150">
        <div class="card-body">
          <h5 class="card-title">{{tienda.Nombre}}</h5>
          <p class="card-text">Descripcion: {{tienda.Descripcion}}</p>
          <p class="card-text">Codigo: {{tienda.Codigo}}</p>
          <p class="card-text">Precio: Q{{tienda.Precio}}</p>
          <a  class="btn btn-primary" (click)="addCarrito(getIndex(tienda.Codigo))" >Agregar al Carrito</a>
        </div>
      </div>
    </div>
  </div>