<a  class="btn btn-primary"  (click)="verCarrito()">Ir al Carrito</a>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let tienda of tiendas">
      <div class="card">
        <img src={{tienda.Imagen}} class="card-img-top" alt="..." width="10" height="150">
        <div class="card-body">
          <h5 class="card-title">{{tienda.Nombre}}</h5>
          <p class="card-text">Descripcion: {{tienda.Descripcion}}</p>
          <p class="card-text">Codigo: {{tienda.Codigo}}</p>
          <p class="card-text">Precio: Q{{tienda.Precio}}</p>
          <a  class="btn btn-primary" (click)="addCarrito(getIndex(tienda.Codigo))" >Agregar al Carrito</a>
        </div>
      </div>
    </div>
  </div>

  <p class="fs-3">Carrito de Compras</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Productos</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Costo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>      
        <td>25</td>
        <td>hola</td>
        <td><a href="" type="submit" class="btn btn-danger">Eliminar</a></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
      <tr>
       
        <th scope="col"></th>
        <th scope="col"></th>
        <a href="" type="submit" class="btn btn-secondary" >Seguir Comprando</a>
        <th scope="col"></th>
        <a href="" type="submit" class="btn btn-secondary" >Generar Pedido</a>
      </tr>   
    
  </table>
  
 