# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jerry\OneDrive - Facultad de Ingeniería de la Universidad de San Carlos de Guatemala\USAC\2021\Primer Semestre\edd\laboratorio\proyecto fase 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
